.categories {
    color: black;
    display: none;
}

.category {
    color: black;

}
@media only screen and (max-width: 425px) {
    .categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .category {
        flex-grow: 1;
        padding: 14px 20px;
        width: 20%;
        text-align: center;
    }

    .category a {
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 600;
        line-height: 0.5;
    }

    .category a:active{
        color: rgb(51, 51, 51)
    }

  }