.ads {
    position: relative;
    margin: 20px 0;
    z-index: 100;
}

.container1 {
  padding-inline: 6px;
}

@media only screen and (max-width: 425px) {
  .ads{
    margin:0;
    padding: 0;
  }
  .image {
      background-position: left;
      height: auto;
  }
  .container1 {
    padding: 0;
  }
}

  @media only screen and (max-width: 768px) {
    .image {
        background-position: left;
        height: 100px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .image {
        width: 100%;
        height: 150px;
    }
  }
  
  @media only screen and (min-width: 1440px) {
    .image {
        width: 100%;
        height: 200px;
    }
  }
  
  @media only screen and (min-width: 2560px) {
    .image {
      width: 100%;
      height: 300px;
    }
  }
